<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Video Recorder | Saguaro Man</title>
	<link rel="stylesheet" media="all" href="/css/style.css">
	<!-- fake there is a favicon -->
	<link rel="icon" href="data:;base64,=">
</head>
<body>
	<div id="body-wrap">
		<div id="consent-wrap">
			<div id="consent-btns-wrap">
				<div id="consent-btn-wrap" class="btn-wrap consented">
					<a id="consent-btn" class="btn" href="#">
						<div class="icon-wrap">
							<i class="icon-video"></i>
						</div>
						<div class="consent-text-wrap">
							<p><i class="icon-yes"></i>Consent</p>
						</div>
						<div class="explanation-text-wrap">
							<p>Allow use after Saguaro Man</p>
						</div>
					</a>
				</div>
				<div id="no-consent-btn-wrap" class="btn-wrap noconsent">
					<a id="no-consent-btn" class="btn" href="#">
						<div class="icon-wrap">
							<i class="icon-video"></i>
						</div>
						<div class="consent-text-wrap">
							<p><i class="icon-no"></i>No Consent</p>
						</div>
						<div class="explanation-text-wrap">
							<p>Delete video after Saguaro Man</p>
						</div>
					</a>
				</div>
			</div>
			<div id="info-btn-wrap">
				<p><a id="info-btn" class="btn" href="#"><i class="icon-info"></i>Info</a></p>
			</div>
		</div>
		<div id="preview-wrap">
			<div id="preview-info-text-wrap">
				<p id="preview-info-text">Preview</p>
			</div>
			<div id="preview-icon-wrap">
				<i id="preview-icon" class="icon-video"></i>
			</div>
			<div id="preview-countdown-wrap">
				<p id="preview-countdown-text">9</p>
			</div>
			<div id="preview-video-placeholder"></div>
		</div>
		<div id="record-wrap">
			<div id="record-info-text-wrap">
				<p id="record-info-text">Record</p>
			</div>
			<div id="record-icon-wrap">
				<i id="record-icon" class="icon-video"></i>
			</div>
			<div id="record-countdown-wrap">
				<p id="record-countdown-text">9</p>
			</div>
			<div id="record-video-placeholder"></div>
		</div>
		<div id="convert-wrap">
			<div id="convert-icon-wrap">
				<i id="convert-icon" class="icon-yes"></i>
			</div>
			<div id="convert-timer-wrap">
				<p id="convert-timer-text">0</p>
			</div>
			<div id="convert-info-text-wrap">
				<p id="convert-info-text">Convert</p>
			</div>
		</div>
		<div id="finish-wrap">
			<div id="finish-video-placeholder"></div>
			<div id="finish-countdown-wrap">
				<p id="finish-countdown-text">9</p>
			</div>
			<div id="finish-btns-wrap">
				<div id="finish-btn-done-wrap-wrap">
					<div id="finish-btn-done-wrap">
						<p><a id="finish-done-btn" class="btn" href="#"><i class="icon-yes"></i>Finished</a></p>
					</div>
				</div>
				<div id="finish-btn-delete-wrap-wrap">
					<div id="finish-btn-delete-wrap">
						<p><a id="finish-delete-btn" class="btn" href="#"><i class="icon-no"></i>Delete</a></p>
					</div>
				</div>
			</div>
		</div>
		<div id="info-wrap">
			<div id="info-text-wrap">
				<h2>About</h2>
				<p>The Expression Station (Aka: Moving Portrait Simulator) is an interactive art installation featuring the residents of Saguaro Man.</p>
				<p>During the day, residents are encouraged to record a short slow-motion video of themselves expressing their unique qualities.</p>
				<p>During the night, the videos are played for the entire community as inspiration and entertainment.</p>
				<p>After Saguar Man ends, select consented videos will be compiled into a single video showcasing the unique residents of the temporary community.</p>
				<h2>Consent</h2>
				<p>By selecting the "Consent" button, you are allowing the artist to capture and display your likeness both during and after the Saguaro Man event.</p>
				<h2>No Consent</h2>
				<p>By selecting the "No Consent" button, you are allowing the artist to capture and display your likeness ony during the Saguaro Man event.</p>
				<p>Your video will be deleted after Saguar Man ends.</p>
				<h2>Misc</h2>
				<p>Concept, programming and construction by Tyler Green.</p>
				<p>Funded in part by The AZBurners Art Fund.</p>
			</div>
			<div id="info-back-btn-wrap">
				<p><a id="info-back-btn" class="btn" href="#"><i class="icon-reply"></i>Back</a></p>
			</div>
		</div>
		<div id="error-wrap">
			<div id="icon-error-wrap">
				<h1><i class="icon-error"></i></h1>
			</div>
			<div id="error-msg-wrap">
				<h2 id="error-msg"></h2>
			</div>
			<div id="reset-btn-wrap">
				<p><a id="reset-btn" class="btn" href="#"><i class="icon-refresh"></i>Reset</a></p>
			</div>
		</div>
	</div>
	<script src="/js/jquery-3.1.1.min.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>